* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body{
    background-color: #1D1A1A;
}
.main_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main_block_text{
    color: white;
    font: 5em sans-serif;
    font-weight: 900;
}
.main_block_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 780px;

    background-color: #D9D9D9;
    border-radius: 40px;
    font: 5em sans-serif;
    font-weight: 900;
}

.main_block_textarea{
    width: 640px;
    height: 360px;

    font: 40px sans-serif;
    font-weight: 900;

    background-color: #524A4A;
    color: white;
    border-radius: 25px;
}
.main_block_button{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: greenyellow;

    font-size: 80px;
}